<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Hola bb</h1>
    <% users.forEach(function(user){ %>
        <div class="card" >
            <div><%= user.last_name %></div>
            <div class="card-email" ><%= user.email %></div>
            <div><%= user.gender %></div>
        </div>
    <%  }) %>
</body>
</html>