<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="/static/css/sign-up.css">
  <!-- Title -->
  <title>Registro</title>
  <link rel="shortcut icon" href="/static/assets/play-icon.png" type="image/x-icon">
</head>
<body>
  <header class="header">
    <a href="/initial-view">
      <img class="header__img" src="/static/assets/logo-platzi-video-BW2.png" alt="Platzi Video">
    </a>
  </header>
  <section class="register">
    <section class="register__container">
      <h2>Regístrate</h2>
      <form class="register__container--form">
        <input id="nameInput" class="input" type="text" placeholder="Nombre">
        <input id="emailInput" class="input" type="email" placeholder="Correo">
        <input id="passwordInput" class="input" type="password" placeholder="Contraseña">
        <button type="button" id="formButton" class="button">Registrarme</button>
      </form>
      <section class="register__container--social-media">
        <a href="/auth/google-oauth">
          <img src="/static/assets/google-icon.png">Registrarme con Google
        </a>
      </section>
      <a href="/login">Iniciar sesión</a>
    </section>
  </section>
  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
  <!-- Js an axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/static/js/sign-up.js"></script>
</body>
</html>